@using EmployeePortal.BOL;

@{
    ViewData["Title"] = "Employee List";
}


@{
    List<Employee> employees = ViewData["employees"] as List<Employee>;
    <table class="table" style="width: fit-content;">
        <thead class="thead thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (Employee e in employees)
        {
            <tbody>
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.Salary</td>
                    <td>@e.Gender</td>
                    <td><a href="Edit" name="id" value="@e.Id">Edit</a></td>
                </tr>
            </tbody>
        }
    </table>
    <a href="Insert">In</a>
}