@using BOL;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Employee DashBoard";
}

<div >
    <h1 class="display-4">Employees</h1>
    @{
        List<TableEmployee> elist = (List<TableEmployee>)ViewData["AllEmployee"];
        <table border="1">
            <thead>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Password</th>
            </thead>
            <tbody>
                @foreach(TableEmployee emp in elist){
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Email</td>
                    <td>@emp.Dob</td>
                    <td>@emp.Password</td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>